.auth {
  margin-top: 70px;
  background: linear-gradient(45deg, #3684f8 0%, #bd86fd 70%);
  padding: 10% 0;
}

.auth__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.auth__body label {
  margin-left: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.auth__body input {
  height: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.auth__title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10%;
}

.form {
  max-width: 30%;
  margin: 0 auto;
  padding: 5%;
  border: 2px solid white;
  border-radius: 20px;
}
