@charset "UTF-8";
.leftbar {
  margin-top: 70px;
  background-color: #4774ee;
}

.leftbar__body {
  position: relative;
  width: 20%;
}

.leftbar__ikon {
  position: absolute;
  top: 0;
  left: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.leftbar__ikon:hover {
  left: 0;
}

.leftbar__ikon img {
  width: 50px;
  height: 30px;
  background-color: #224ab8;
  border-radius: 0 25px 25px 0;
  padding: 5px 5px 5px 26px;
}

.leftbar__menu {
  padding: 40px 20px;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.leftbar__menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.leftbar__list li {
  margin-top: 20px;
}

.leftbar__link {
  text-transform: uppercase;
  font-size: 24px;
  color: green;
}

.stata {
  margin-top: 70px;
  background: #596fde;
  background: linear-gradient(49deg, #596fde 0%, #8dbdd6 25%, #a261cc 65%, #9334ed 100%);
}

.stata__body {
  padding: 30px 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.stata__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
}

.stata__logo img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.stata__title {
  color: white;
}

.stata__subtitle {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
}

.stata__list {
  color: white;
}

.stata__list li {
  margin-top: 5px;
  font-size: 18px;
  margin-left: 15px;
  position: relative;
}

.stata__list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  width: 10px;
  height: 2px;
  background-color: white;
}

.stata__avatar {
  margin: 0 20px;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px #ee85fc;
          box-shadow: 0 0 30px #ee85fc;
}

@media (max-width: 520px) {
  .stata__avatar {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 520px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.stata__info_conteiner {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  background-color: #4774ee;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(218, 133, 252, 0.726);
          box-shadow: 0px 0px 20px 3px rgba(218, 133, 252, 0.726);
}

@media (max-width: 520px) {
  .stata__info_conteiner {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slidermini {
  margin-top: 30px;
  position: relative;
}

.slidermini__item {
  padding: 20px 0;
  margin: 0 30px;
  border-radius: 10px;
  background-color: #ee85fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.slidermini__logo img {
  width: 60px;
  height: 60px;
}

.slidermini__text {
  font-size: 20px;
  text-transform: uppercase;
}

.slidermini .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slidermini .slick-arrow.slick-prev {
  left: -30px;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slidermini .slick-arrow.slick-next {
  right: -30px;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slidermini .slick-slide.slick-current {
  background-color: #4774ee;
}

.sliderbig {
  padding: 20px 0;
  margin: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .sliderbig {
    margin: 30px 0;
  }
}

.sliderbig__item {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(238, 133, 252, 0.726)), color-stop(50%, #3684f8), color-stop(90%, rgba(238, 133, 252, 0.685)));
  background: linear-gradient(90deg, rgba(238, 133, 252, 0.726) 10%, #3684f8 50%, rgba(238, 133, 252, 0.685) 90%);
  padding: 15px;
}

.sliderbig .slidermini__logo {
  text-align: center;
  margin-bottom: 20px;
}

.chat__body {
  width: 100%;
  background-color: #4774ee;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px;
          box-shadow: 4px 4px 8px;
  padding-top: 15px;
  overflow: hidden;
}

.chat__message-body {
  padding: 15px;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.chat__message-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.chat__message {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  padding: 20px 0 0 0;
  min-height: 50px;
}

@media (max-width: 600px) {
  .chat__message {
    width: 100%;
  }
}

.chat__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
  border: 3px solid #72bbf7;
}

.chat__message-text {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 4px;
  position: relative;
  color: white;
  font-size: 18px;
  text-align: left;
  line-height: 20px;
}

.chat__message-text:before {
  content: "";
  position: absolute;
  left: -25px;
  bottom: 1px;
  width: 100%;
  height: 4px;
  background-color: #72bbf7;
  z-index: 1;
}

.chat__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3bacf7;
  padding: 10px;
}

@media (max-width: 600px) {
  .chat__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.chat__form .chat__button {
  background-color: #a261cc;
  padding: 5px;
  color: white;
  border: 1px solid #575656;
  border-left: none;
  border-radius: 0 5px 5px 0;
  font-weight: 900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.chat__form .chat__button:hover {
  -webkit-box-shadow: 1px 3px 6px black;
          box-shadow: 1px 3px 6px black;
}

.chat__form .chat__button:active {
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.chat__form .input {
  margin: 0 0 0 5px;
  padding-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 600px) {
  .chat__form .input {
    padding: 5px;
    margin: 3px 0 3px 0;
    border-radius: 3px;
  }
}

.chat__form textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  padding-top: 2px;
}

.right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right .chat__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.right .chat__message-text {
  text-align: end;
  padding-right: 2px;
}

.right .chat__message-text:before {
  left: 25px;
}

.command {
  background-color: #4774ee;
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px;
          box-shadow: 4px 4px 8px;
  padding: 15px;
}

.command__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 450px) {
  .command__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.command__img {
  height: 150px;
}

@media (max-width: 450px) {
  .command__img {
    margin-top: 10px;
  }
}

.command__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.command__info-title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.command__info-subtitle {
  font-size: 22px;
  font-weight: 900;
  color: white;
}

.command__info-list {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.command__info-item {
  background-color: rgba(238, 133, 252, 0.726);
  -webkit-box-shadow: 0px 0px 10px #ee85fc;
          box-shadow: 0px 0px 10px #ee85fc;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  font-style: oblique;
  margin-left: 5px;
  margin-bottom: 5px;
}

.command__sostav {
  background-color: rgba(133, 218, 252, 0.726);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(133, 218, 252, 0.726);
          box-shadow: 0px 0px 5px 5px rgba(133, 218, 252, 0.726);
  padding: 15px;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 600px) {
  .command__sostav {
    margin: 20px 0 0 0;
  }
}

.command__sostav-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.command__sostav-img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.command__sostav-info {
  margin-left: 5px;
}

.command__sostav-name {
  font-size: 24px;
  color: white;
  font-weight: 900;
}

.command__sostav-rol {
  font-size: 18px;
  color: white;
  font-style: oblique;
}

.command__keys-block {
  background-color: rgba(133, 218, 252, 0.726);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(133, 218, 252, 0.726);
          box-shadow: 0px 0px 5px 5px rgba(133, 218, 252, 0.726);
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 15px;
}

@media (max-width: 600px) {
  .command__keys-block {
    margin-right: 0;
    padding: 3px;
  }
}

.command__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 25px;
}

.command__keys {
  color: white;
  padding: 5px;
}

.command .keys-active {
  background-color: #f1da57;
}

.command .keys-ok {
  background-color: seagreen;
}

.command__keys-title {
  font-size: 24px;
  color: white;
  font-weight: 900;
  border-bottom: 1px solid white;
  margin: 15px 0;
}

.command__keys-info {
  font-size: 18px;
  margin: 5px 0;
}

.command__keys-subinfo {
  margin-bottom: 10px;
  border-bottom: 2px dashed;
}

.command__project-block {
  background-color: rgba(133, 218, 252, 0.726);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(133, 218, 252, 0.726);
          box-shadow: 0px 0px 5px 5px rgba(133, 218, 252, 0.726);
  padding: 15px;
  margin-right: 15px;
}

@media (max-width: 600px) {
  .command__project-block {
    margin-right: 0;
  }
}

.command__projekt {
  color: white;
}

.command__project-title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 20px;
}

.command__project-info {
  font-size: 18px;
  margin-left: 10px;
  position: relative;
}

.command__project-info:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  top: 50%;
  left: -13px;
  background-color: #fff;
}

.command__project-subinfo {
  font-size: 14px;
  font-style: oblique;
  margin-left: 25px;
  margin-bottom: 15px;
}

.command .form-none {
  background: none;
  padding: 0;
}
